* {
	font-family: helvetica;
	color: white;
}
main>section {
	display: none;
}
.active {
	display: block;
}
.nodetail {
	display: none;
}
.detail {
	display: block;
}
#id {
	display: inline-block;
	width: 100px;
	background-color: red;
	color: red;
}
body {
	background-color: #282828;
	width: 80%;
	text-align: center;
	margin: auto;
}
section {
	background-color: black;
	padding: 20pt;
}
header {
	display: float;
}
nav > ul {
	list-style: none;
	display: inline;
}
nav > ul li {
	padding: 20pt;
	margin-bottom: 5pt;
	background-color: white;
}
ul li a {
	color: black;
	font-size: 18pt;
	padding: 20pt;
	margin-bottom: 5pt;
	background-color: white;
}