* {
	font-family: helvetica;
	margin: 0pt;
	padding: 0pt;
}
main>section {
	display: none;
}
.active {
	display: block;
}
.nodetail {
	display: none;
}
.detail {
	display: block;
}
#id {
	display: inline-block;
	width: 100px;
	background-color: silver;
	color: silver;
}
body {
	background-color: #EA1F38;
	text-align: center;
	margin: auto;
}
body > header> h1 {
	color: white;
}
section {
	padding: 5pt;
}
header {
	display: float;
}
nav {
	margin-top: 5pt;
}
nav > ul {
	list-style: none;
	display: inline;
}
nav > ul li {
	margin-bottom: 5pt;
	background-color: white;
	padding: 5pt;
	display: inline-block;
}
ul li a {
	color: black;
	font-size: 18pt;
	background-color: white;
	text-decoration: none;
}
#movieInstance {
	display: inline-block;
	background-color: white;
	color: black;
	margin: 5pt;
}
#content {
	display: inline-block;
	margin: 100px;
	background-color: white;
	color: black;
	padding: 5pt;
}